.body-About {
  width: 100vw;
  height: 100vh;
  background: black;
  position: absolute;
  overflow: hidden;
}
.color-Texto {
  color: white;
}
.textoVersion{
  font: 1.47vw Avenir-Black;
}

.contenedor-LinkBio {
  position: absolute;
  top: 30px;
  left: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contenedor-TextoMarco {
  overflow: hidden;
  display: flex;
  width: 95%;
  height: 19.75rem;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.TextoMarco {
  font: 14.641288433382138vw IntegralCF-Bold;
  margin-right: 30px;
}
.contenedor-Texto {
  position: absolute;
  margin-left: 43%;
}
.TextoLocutor {
  position: relative;
  font: normal normal 5.20vw IntegralCF-Bold;
}
.Text-Voice {
  position: relative;
  width: auto;
  bottom: -18px;
}
.Texto-Info {
  font: 1.29vw Avenir-Book;
  line-height: 23px;
}
#español{
  opacity: 1;
  transition: all 1s ease-in-out;
}
#ingles{
  opacity: 0;
  transition-delay: 2s;
  transition: all 1s ease-in-out;
}

@media screen and (max-width:1920px) {
  .contenedor-Texto{
    max-width:420px;
    top: 39%;
    margin-left: 45%;
  }
  .contenedor-TextoMarco{
    width: 89%;
  }
  .Text-Voice{
    right: -310px;
    font: 2em Avenir-Book;
  }
}
@media screen and (max-width:1366px) {
  .contenedor-TextoMarco{
    bottom: -60px;
  }
  .contenedor-Texto{
    top: 27%;
    margin-left: 43%;
  }
  .Text-Voice{
    right: -230px;
    font: 1.4em Avenir-Book;
  }
}
@media screen and (max-width:1024px) {
  .textoVersion{
    font-size: 2vw;
  }
  .contenedor-Texto{
    max-width: 340px;
    top: 29%;
    margin-left: 44%;
  }
  .Text-Voice{
    right: -180px;
    font: 1em Avenir-Book;
  }
  .Texto-Info {
    font: 1.6vw Avenir-Book;
  }
  .contenedor-TextoMarco{
    width: 95% !important;
  }
}
@media screen and (max-width:834px) {
  .textoVersion{
    font-size: 2.3vw;
  }
  .contenedor-Texto{
    max-width: 320px;
    top:32%;
    margin-left: 45%;
  }
  .Texto-Info {
    font-size: 1.85vw;
  }
  .Text-Voice{
    right: -118px;
  }
}
@media screen and (max-width:768px) {
  
  .contenedor-Texto{
    max-width: 280px;
    top:34%;
    margin-left: 41%;
  }
  .Texto-Info {
    font-size: 2vw;
  }
  .Text-Voice{
    right: -105px;
  }
}