.body-About {
  width: 100vw;
  height: 100vh !important;
  /* background: black;*/
  position: relative;
  overflow: hidden;
}
.color-Texto {
  color: white;
}
.textoVersion {
  font: 1.47vw Avenir-Black;
}

.contenedor-LinkBio {
  position: absolute;
  top: 30px;
  left: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contenedor-TextoMarco {
  overflow: hidden;
  display: flex;
  width: 95%;
  height: 19.75rem;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.contenedor-TextoInfo {
  position: absolute;
  width: 25%;
  bottom: -1%;
  right: 8%;
  display: flex;
  height: 33.7%;
}
.TextoMarco {
  font: 14.641288433382138vw IntegralCF-Bold;
  margin-right: 30px;
}
.contenedor-Texto {
  max-width: 30%;
  top: 41%;
  margin-left: 45%;
  position: absolute;
}
.TextoLocutor {
  position: relative;
  font: normal normal 5.2vw IntegralCF-Bold;
}
.Text-Voice {
  overflow: hidden;
  font: 1.6vw Avenir-Book;
  top: 40px;
  width: calc(100% - 2vw);
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.Texto-Info {
  font: 1.2vw Avenir-Book;
  line-height: 23px;
}
#español {
  opacity: 1;
  transition: all 1s ease-in-out;
}
#ingles {
  opacity: 0;
  transition-delay: 2s;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 5000px) {
  .contenedor-Texto {
    top: 36%;
  }
  .contenedor-TextoInfo {
    bottom: 3%;
  }
  .Text-Voice {
    top: 30px;
  }
}
@media screen and (max-width: 1680px) {
  .contenedor-Texto {
    top: 41%;
  }
}
@media screen and (max-width: 1536px) {
  .contenedor-Texto {
    top: 33%;
  }
}
@media screen and (max-width: 1366px) {
  .contenedor-Texto {
    top: 25%;
  }
  .contenedor-TextoInfo {
    bottom: 9%;
  }
  .Text-Voice {
    top: 26px;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .contenedor-Texto {
    max-width: 36%;
    top: 37%;
    margin-left: 40%;
  }
  .contenedor-TextoInfo {
    bottom: 9%;
  }
  .Texto-Info {
    font: 1.5vw Avenir-Book;
  }
  .Text-Voice {
    width: calc(100% - 8vw);
    top: 20px;
  }
}
@media screen and (max-width: 834px) {
  .textoVersion {
    font: 3vw Avenir-Black;
  }
  .contenedor-Texto {
    max-width: 60%;
    top: 45%;
    margin-left: 22%;
  }
  .Texto-Info {
    font-size: 2.4vw;
  }
  .Text-Voice {
    font: 2vw Avenir-Book;
    width: calc(100% - 29vw);
    top: 17px;
  }
  .TextoLocutor {
    font: normal normal 5.8vw IntegralCF-Bold;
  }
  .contenedor-TextoInfo {
    width: 35%;
    bottom: -1%;
    right: 2%;
    height: 40%;
  }
}
@media screen and (max-width: 480px) and (max-height: 812px) {
  .contenedor-LinkBio {
    top: 20px;
    left: 20px;
  }
  .textoVersion {
    font: 4vw Avenir-Black;
  }
  .noSeleccionable {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .contenedor-TextoMarco {
    width: min-content;
    height: min-content;
    position: absolute;
    bottom: 40%;
    left: 36%;
    transform: rotate(-90deg);
  }
  .TextoMarco {
    font: 25vw IntegralCF-Bold;
  }
  .contenedor-Texto {
    max-width: 60%;
    top: 18.5%;
    margin-left: 5%;
  }
  .Texto-Info {
    font-size: 3.5vw;
  }
  .Text-Voice {
    font: 4vw Avenir-Book;
    width: calc(100% - 7vw);
    top: 15px;
  }
  .TextoLocutor {
    font: normal normal 10vw IntegralCF-Bold;
  }
  .contenedor-TextoInfo {
    width: 60%;
    bottom: 13%;
    right: 35%;
    height: 40%;
  }
  .contenedor-Texto {
    top: 21.5%;
  }
}
@media screen and (max-width: 480px) and (max-height: 736px) {
  .contenedor-Texto {
    top: 18.5%;
  }
}

@media (orientation: landscape) and (max-height: 480px) {
  .body-About {
    width: 100vw;
    height: 100vh !important;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px 25% 25% auto;
    grid-template-rows: 80px auto 40%;
  }
  .contenedor-LinkBio {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .contenedor-Texto {
    grid-row: 2/3;
    grid-column: 3/5;
    max-width: 50%;
    top: initial;
    margin-left: 0;
    position: initial;
  }
  .contenedor-TextoMarco {
    grid-row: 3/4;
    grid-column: 1/4;
    overflow: none;
    display: flex;
    width: 100%;
    height: 19.75rem;
    position: initial;
    bottom: -10px;
    left: 0;
  }
  .contenedor-TextoInfo {
    grid-row: 3/4;
    grid-column: 4/5;
    position: initial;
    width: 100%;
    bottom: initial;
    right: initial;
    display: flex;
    height: 100%;
  }
}
