.Home {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.noScroll {
  overflow: hidden;
}
.contenedorCerrarVideoHome {
  position: absolute;
  outline: none;
  border: none;
  z-index: 2;
}

.iconoCerrar {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.5);
}
.videoNube {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.body-Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 3;
}
.manchaHome {
  width: 80px;
  height: 80px;
}

.contenedor-Marca {
  width: 380px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.Marca {
  font-size: 80px;
}

.contenedor-Contestadora {
  position: absolute;
  bottom: 30px;
  left: 50px;
  cursor: pointer;
}

.contenedor-Scroll {
  position: absolute;
  bottom: 70px;
  left: 76px;
  text-align: center;
  opacity: 0;
  animation: fade 3.5s linear;
  animation-iteration-count: infinite;
  z-index: 3;
}
.texto-Scroll {
  font-size: 15px;
  text-align: center;
}

.contenedorVideoInicio {
  background-color: white;
  height: 598px;
  position: absolute;
  overflow: hidden;
  right: 30%;
}
.videoMarcoInicio {
  max-width: 500px;
  max-height: 500px;
}
.circuloRojo-Inicio {
  width: 350px;
  height: 350px;
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 50%;
  position: absolute;
  right: 20%;
}
.gifHome {
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 100%;
}
/* .AvisoDeTag {
  background-color: aqua;
  position: absolute;
  top: 5%;
  font-size: 30px;
} */
.imgVideo {
  width: 100%;
  max-width: 300px;
  height: 100%;
  object-fit: contain;
}
@keyframes fade {
  0%,
  30% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
}
@media screen and (max-width: 1400px) {
  .contenedorVideoInicio {
    height: 498px;
    position: absolute;
    overflow: hidden;
  }
  .gifHome {
    width: 100%;
    height: 100%;
    min-height: 500px;
    min-width: 100%;
  }
  .circuloRojo-Inicio {
    width: 300px;
    height: 300px;
    right: 15%;
  }
}
@media screen and (max-width: 480px) {
  /* .contenedorVideoInicio {
    width: 300px;
    right: 20%;
    background-color: rgb(0, 243, 162);
  } */
  .contenedor-Scroll {
    left: 10%;
  }
  .Marca {
    width: 80%;
  }
  .circuloRojo-Inicio {
    width: 150px;
    height: 150px;
  }
  .contenedor-Scroll {
    bottom: 75px;
  }
  .contenedorVideoInicio {
    height: 490px;
    position: absolute;
    overflow: hidden;
    right: 40%;
    top: 15%;
  }
  .gifHome {
    min-height: 0;
    height: 500px;
  }
}
@media screen and (max-width: 360px) {
  .contenedor-Scroll {
    bottom: 60px;
  }
}
@media screen and (max-width: 320px) {
  .contenedorVideoInicio {
    right: 24%;
  }
  .contenedor-Scroll {
    left: 0;
    right: 0;
  }
}
.imgBailePerro {
  width: 100%;
  height: 100%;
}
