.body-Contacto {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: black;
}
.contenedorVideo{
  width: 100vw;
  background-color: black;
}
.contenedor-TextoContacto {
  position: absolute;
  left: -20px;
  top: 22%;
  display: flex;
}

.TextoContacto {
  font: normal normal 200px/121px IntegralCF-Bold;
  color: white;
}

.contenedor-InfoContacto {
  position: absolute;
  top: 51%;
  left: 76px;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.Texto-InfoContacto {
  font: normal normal 30px Avenir-Book;
  color: white;
}
.contenedorEquipamiento{
  width: auto;
  height: auto;
  position: absolute;
  bottom: 30px;
  left: 40px;
  overflow: hidden;
}
.Texto-Equipamiento {
  font:25px/30px Avenir-Black;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.Texto-Tecnologia{
  top: 0;
  font:  18px/24px Avenir-Medium;
  color: white;
}

.contenedor-VoiceOvers {
  position: absolute;
  bottom: 50px;
  left: 350px;
}
.contenedor-TextoTecnologia{
  max-height: 0;
  transition: all 1s ease-in-out;
}

.contenedor-ImgVoiceOvers{
  position: absolute;
  right: 40px;
  bottom: 30px;
}
.imagenVoiceOvers {
  width: 150px;
}

.contenedorVideo{
  width: 100%;
  height: 100%;
}
video{
  width: 100vw;
  height: 100vh;
}
.iconoEquipamiento{
  width: 25px;
  height: 25px;
}
.iconoEquipamientoDown{
  width: 25px;
  height: 25px;
}