.body-Contacto {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: black;
  overflow: hidden;
}
.contenedorVideo{
  width: 100vw;
  background-color: black;
}
.contenedor-TextoContacto {
  position: absolute;
  left: -20px;
  top: 22%;
  display: flex;
}

.TextoContacto {
  font: normal normal 14.65vw/8.86vw IntegralCF-Bold;
  color: white;
}

.contenedor-InfoContacto {
  position: absolute;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.Texto-InfoContacto {
  font: normal normal 2.2vw Avenir-Book;
  color: white;
}
.hoverInfoContacto{
  transition: all .5s ease-in-out;
}
.hoverInfoContacto:hover{
  color: rgb(138, 138, 138) ;
  transition: all 5.s ease-in-out;

}
.linksContacto{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color:white;
  text-decoration: none;
}
.contenedorEquipamiento{
  width: auto;
  height: auto;
  position: absolute;
  bottom: 30px;
  left: 40px;
  overflow: hidden;
}
.Texto-Equipamiento {
  font:1.8vw/2.2vw Avenir-Black;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.Texto-Tecnologia{
  top: 0;
  font:  1.32vw/1.8vw Avenir-Medium;
  color: white;
}
.contenedor-TextoTecnologia{
  max-height: 0;
  transition: all 1s ease-in-out;
}

.contenedor-ImgVoiceOvers{
  position: absolute;
  right: 40px;
  bottom: 30px;
}
.imagenVoiceOvers {
  width: 150px;
}

.contenedorVideo{
  width: 100%;
  height: 100%;
}
video{
  width: 100vw;
  height: 100vh;
}
.iconoEquipamiento{
  width: 15px;
  height: 15px;
  padding-left: 10px;
}
.iconoEquipamientoDown{
  width: 25px;
  height: 25px;
}

@media screen and (max-width:1920px) {
  .contenedor-InfoContacto {
    top:47%;
    left: 9%;  
  }
  .Texto-InfoContacto{
    font-size: 2.2vw;
  }
}
@media screen and (max-width:1536px) {
  .contenedor-InfoContacto{
    top:49%;
  }
}
@media screen and (max-width:1366px) {
  .contenedor-InfoContacto {
    top:49%;
    left: 9%;
  }
  .Texto-InfoContacto{
    font-size: 2.2vw;
  }
}
@media screen and (max-width:1024px) {
  .contenedor-TextoContacto{
    top:30%;
  }
  .contenedor-InfoContacto {
    width:65% ;
    top:47%;
    left: 7%;
  }
  .Texto-InfoContacto{
    font-size: 2.2vw;
  }
}
@media screen and (max-width:834px) {
  .contenedor-TextoContacto{
    top:35%;
  }
  .contenedor-InfoContacto {
    top:45%;
    width: 80%;
    left: 0px;
  }
  .Texto-InfoContacto{
    font-size: 3vw;
  }
  .Texto-Equipamiento {
    font:2.5vw Avenir-Black;
  }
  .Texto-Tecnologia{
    font:  2vw Avenir-Medium;
  }
}
@media screen and (max-width:480px) {
  .contenedor-TextoContacto {
    left: 12%;
    top: 50%;
    transform: rotate(-90deg);
  }
  .TextoContacto {
    font: normal normal 25vw IntegralCF-Bold;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .contenedor-ImgVoiceOvers{
    bottom: 55%;
    left: 15%;
  }
  .imagenVoiceOvers {
    width: 90px;
  }
  .contenedor-InfoContacto {
    top: 20%;
    left: 15%;
    flex-direction:column;
    width: 50%;
    height: 20%;
  }
  .Texto-InfoContacto {
    -webkit-tap-highlight-color: transparent;
    font: normal normal 6.5vw Avenir-Book;
  }
  .Texto-Equipamiento {
    -webkit-tap-highlight-color: transparent;
    font:4vw Avenir-Black;
  }
  .Texto-Tecnologia{
    -webkit-tap-highlight-color: transparent;
    font:  4vw Avenir-Medium;
  }
  .contenedorEquipamiento{
    bottom: 8%;
    left: 15%;
  }
}