.work {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.contenedorVideosWork {
  position: absolute;
  left: -100vw;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.aperturaComerciales {
  left: 0;
  transition: all 0.5s ease-in;
}
.marcoVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 500px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  transition-delay: 0.5s;
}
.marcoVideoAbierto {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}
.botonAccionesVideosComerciales {
  background: transparent;
  border: none;
  outline: none;
}
.posicionIconoCerrar {
  position: absolute;
  top: 5%;
  right: 5%;
}
.posicionSiguienteLeft {
  position: absolute;
  left: 5%;
}
.posicionSiguienteRight {
  position: absolute;
  right: 5%;
}
.iconoCerrarComercialesWork {
  cursor: pointer;
  color: white;
  opacity: 0.5;
  font-size: 70px;
  transition: all 0.5s ease-in-out;
}
.iconoCerrarComercialesWork:hover {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.contenidoVideo {
  width: 100%;
  height: 100%;
  outline: none;
  transition: all 0.1s ease;
}

.body-Work {
  position: relative;
  display: flex;
  width: auto;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  /* background-color: #FBFBFB; */
}

.contenedorVerMas {
  display: flex;
  position: absolute;
  top: 30px;
  left: 50px;
  width: 90px;
  height: 60px;
  cursor: pointer;
}
.textoMas {
  position: absolute;
  top: 60%;
  left: -40px;
  color: black;
  font: 20px IntegralCF-Medium;
}
.botonMas {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.manchaWork {
  width: 50px;
  height: 50px;
}
.botonMas {
  position: absolute;
  top: -10px;
  left: 30px;
}

.Texto-Work {
  font: 14.641288433382138vw IntegralCF-ExtraBold;
  color: black;
  position: relative;
}

.contenedor-Links {
  position: relative;
  width: 400px;
  height: 400px;
  opacity: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursorLink {
  cursor: pointer;
}
.rotar {
  animation: rotar 50s linear infinite;
  transform: rotate(50deg);
}

.rotar:hover {
  animation-play-state: paused;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.CI-tagsComerciales {
  position: absolute;
  top: 12%;
  left: 15%;
  display: flex;
}
.tagComerciales {
  color: white;
  font: 15px IntegralCF-Medium;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin-right: 20px;
}
.tagComerciales:hover {
  transform: scale(1.2);
}
.tituloComercial {
  color: rgba(255, 255, 255, 0.301);
  position: absolute;
  font: 4.641288433382138vw IntegralCF-ExtraBold;
  top: 0;
}
@media screen and (max-width: 5000px) {
  .Texto-Work {
    top: 30%;
    left: 46%;
  }
  .contenedor-Links {
    top: 30.5%;
    left: calc(100vw - 115.29%);
  }
}
@media screen and (max-width: 1366px) {
  .Texto-Work {
    top: 30%;
    left: 46%;
  }
  .contenedor-Links {
    top: 22%;
    left: calc(100vw - 119%);
  }
}
@media screen and (max-width: 1024px) {
  .Texto-Work {
    top: 25%;
    font-size: 15.641288433382138vw;
    left: 41%;
  }
  .contenedor-Links {
    top: 19%;
    left: calc(100vw - 132.5%);
  }
}
@media screen and (max-width: 768px) {
  .Texto-Work {
    top: 40%;
    font-size: 16.641288433382138vw;
    left: 37%;
  }
  .contenedor-Links {
    top: 30%;
    left: calc(100vw - 138.5%);
  }
}
@media screen and (max-width: 480px) {
  .Texto-Work {
    position: absolute;
    top: 42%;
    font-size: 32.641288433382138vw;
    transform: rotate(-90deg);
    left: 22%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .contenedor-Links {
    top: 26%;
    left: calc(100vw - 80.5%);
  }
  img {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .iconoCerrarComercialesWork {
    font-size: 40px;
    transition: all 0.5s ease-in-out;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .contenedorVideosWork {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 1;
  }
  .marcoVideo {
    margin-bottom: 10%;
    width: 90%;
    height: 50%;
  }
  .CI-tagsComerciales {
    position: absolute;
    width: 100%;
    top: 18%;
    left: 0;
    display: flex;
    justify-content: center;
  }
  .tituloComercial {
    font: 8.641288433382138vw IntegralCF-ExtraBold;
    left: 20px;
    top: 5%;
  }
}
@media screen and (max-width: 375px) {
  .Texto-Work {
    top: 47%;
  }
  .contenedor-Links {
    top: 26%;
  }
}
@media screen and (max-width: 320px) {
  .Texto-Work {
    top: 49%;
    font-size: 30.641288433382138vw;
    transform: rotate(-90deg);
    left: 26%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .contenedor-Links {
    top: 23.5%;
    left: 30%;
  }
}
