.App {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
section {
  width: 100vw;
  height: 100vh;
}

.contenedorIconoMenu {
  z-index: 2 ;
  position: fixed;
  top: 30px;
  right: 100px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.iconoMenu{
  width: 90px;
  height: 90px;
}
.abrirMenu{
  width: 100vw !important;
}
.slideBlanco{
  height: 52vh;
}