* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  display: none;
  border: 0px;
}
body::-webkit-scrollbar-thumb {
  border: 0;
  display: none;
}

.preloading {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  opacity: 1;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
@font-face {
  font-family: 'IntegralCF-Medium';
  src: url(/src/Static/Fonts/IntegralCF-Medium.woff);
  font-style: normal;
}
@font-face {
  font-family: 'IntegralCF-Bold';
  src: url(/src/Static/Fonts/IntegralCF-Bold.woff);
  font-style: normal;
}
@font-face {
  font-family: 'IntegralCF-ExtraBold';
  src: url(/src/Static/Fonts/IntegralCF-ExtraBold.otf);
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url(/src/Static/Fonts/avenir-lt-std-45-book.otf);
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url(/src/Static/Fonts/AvenirLTStd-Medium.otf);
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Black';
  src: url(/src/Static/Fonts/AvenirLTStd-Black.otf);
  font-style: normal;
}
