* {
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar{
  width: 0px;
}
body::-webkit-scrollbar-thumb{
  background: #666666;
}
@font-face {
  font-family: "IntegralCF-Medium";
  src: url(/src/Static/Fonts/IntegralCF-Medium.woff);
  font-style: normal;
}
@font-face {
  font-family: "IntegralCF-Bold";
  src: url(/src/Static/Fonts/IntegralCF-Bold.woff);
  font-style: normal;
}
@font-face {
  font-family: "IntegralCF-ExtraBold";
  src: url(/src/Static/Fonts/IntegralCF-ExtraBold.otf);
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Book";
  src: url(/src/Static/Fonts/avenir-lt-std-45-book.otf);
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url(/src/Static/Fonts/AvenirLTStd-Medium.otf);
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Black";
  src: url(/src/Static/Fonts/AvenirLTStd-Black.otf);
  font-style: normal;
}